

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-body">
                    @Html.Partial("_AdminDashboard")

                </div>
            </div>
        </div>
    </div>
</div>