@model IEnumerable<BugTracker.Models.ApplicationUser>
@using BugTracker.Helpers
@{
    ViewBag.Title = "Index";

   

}

<div class="card-deck">

    @foreach (var user in Model)
    {

        <img class="card-img-top" src="~/img/sub icon.png" alt="Card image cap">
        <div class="card-body">
            @{
                var roleHelper = new UserRolesHelper();
                var role = roleHelper.ListUserRoles(user.Id);
            }
            <h5 class="card-title">@user.FirstName @user.LastName</h5>
            <p class="card-text">@user.Email</p>
            <p class="card-text"><small class="text-muted">@role.FirstOrDefault()</small></p>
        </div>
    }
</div>

                   





